body {
  font-family: sans-serif;
  background-color: #9de7e6;
}
pre {
  padding: 8px;
  background-color: #1d1d1d;
  color: white;
}

/* table styles */
section {
  background-color: #1d1d1d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid white;
  padding: 2px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #1d1d1d;
  color: white;
}

tr:nth-child(odd) {
  color: #c2f84b;
}
